/*
 * Empty Stylesheet file.
*/

.mainFxmlClass {
    -fx-background-color: 
        #00FF00,
        linear-gradient(#00FF00 0%, #00FF00 100%);
}

#firstNameEdit:hover {
    -fx-text-fill: #ff8800;
}

#nameEdit:hover {
    -fx-text-fill: #ff8800;
}

#emailEdit:hover {
    -fx-text-fill: #ff8800;
}

.button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
   
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10;
}

.label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,2,2 );
}

.text-field {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-text-fill: linear-gradient(white, #ffffff);
}
