/*
 * Empty Stylesheet file.
*/

.mainFxmlClass {

}

#firstNameEdit:hover {
    -fx-text-fill: #ff8800;
}

#nameEdit:hover {
    -fx-text-fill: #ff8800;
}

#emailEdit:hover {
    -fx-text-fill: #ff8800;
}
